body{
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    color: red;
    background-color: blue;
    text-align: center;
}

p{
    text-align: center;
    background-color: rgb(13, 142, 248);
    color: rgb(0, 0, 0);
        }

#hotdog{
    width: 10%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
}

.fact {
    list-style: disc;
    background-color: orange;
    color: rgb(255, 255, 255);
}
        
main{
    background-color: rgb(143, 172, 199);
    padding: 5px;
}

.entryForm{
    padding: 10 px;
    background-color: moccasin;
    margin-left: 20px;
    border-right: 20px;
}